<twig:Card>
    <twig:CardHeader>
        <twig:CardTitle>Card Title</twig:CardTitle>
        <twig:CardDescription>Card Description</twig:CardDescription>
    </twig:CardHeader>
    <twig:CardContent>
        <p>Card Content</p>
    </twig:CardContent>
    <twig:CardFooter>
        <twig:Button primary class="w-full">Go</twig:Button>
    </twig:CardFooter>
</twig:Card>