<li
    class="{{ '[&>svg]:w-3.5 [&>svg]:h-3.5 ' ~ attributes.render('class')|tailwind_merge }}"
    {{ attributes.defaults({}).without('class') }}
    role="presentation"
    aria-hidden="true"
>
    {%- block content -%}
        <twig:ux:Icon name="mdi:chevron-right" />
    {%- endblock %}
</li>
